In [1]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sorting the list
ages.sort()

# Finding the min and max age
min_age = ages[0]
max_age = ages[-1]

# Adding the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

# Sort the list again after adding min and max ages
ages.sort()

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]

# Find the average age
average_age = sum(ages) / n

# Find the range of the ages
age_range = max_age - min_age

# Print outputs
print(f"Sorted ages: {ages}")
print(f"Min age: {min_age}")
print(f"Max age: {max_age}")
print(f"Median age: {median_age}")
print(f"Average age: {average_age:.2f}")
print(f"Range of ages: {age_range}")

Sorted ages: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [2]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3

# Print the dog dictionary
print("Dog Dictionary:", dog)

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 20,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
student_length = len(student)
print("Length of student dictionary:", student_length)

# Get the value of skills and check the data type
skills = student['skills']
skills_type = type(skills)
print("Skills:", skills)
print("Type of skills:", skills_type)

# Modify the skills values by adding one or two skills
student['skills'].append('C++')
student['skills'].append('SQL')

# Print the modified skills
print("Modified skills:", student['skills'])

# Get the dictionary keys as a list
student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

# Get the dictionary values as a list
student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog Dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 3}
Length of student dictionary: 9
Skills: ['Python', 'Java']
Type of skills: <class 'list'>
Modified skills: ['Python', 'Java', 'C++', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 20, 'Single', ['Python', 'Java', 'C++', 'SQL'], 'USA', 'New York', '123 Main St']

In [3]:
# Create tuples containing names of sisters and brothers
sisters = ('Anna', 'Betty', 'Clara')
brothers = ('David', 'Evan', 'Frank')

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers

# Print the siblings tuple
print("Siblings:", siblings)

# Count the number of siblings
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

# Modify the siblings tuple and add the names of father and mother
family_members = siblings + ('John', 'Jane')

# Print the family members tuple
print("Family members:", family_members)

Siblings: ('Anna', 'Betty', 'Clara', 'David', 'Evan', 'Frank')
Number of siblings: 6
Family members: ('Anna', 'Betty', 'Clara', 'David', 'Evan', 'Frank', 'John', 'Jane')

In [4]:
# Given sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['Netflix', 'Spotify', 'Adobe'])
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Adobe')
print("it_companies after removing 'Adobe':", it_companies)

# Difference between remove and discard
# - remove() will raise a KeyError if the item is not found in the set
# - discard() will not raise an error if the item is not found in the set

# Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# Is A subset of B
is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)

# Are A and B disjoint sets
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_B_disjoint)

# Join A with B and B with A
A_join_B = A.union(B)
B_join_A = B.union(A)
print("A joined with B:", A_join_B)
print("B joined with A:", B_join_A)

# What is the symmetric difference between A and B
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)

# Delete the sets completely
del A
del B
print("Sets A and B deleted.")

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Age list length:", len(age))
print("Age set length:", len(age_set))

Length of it_companies: 7
it_companies after adding 'Twitter': {'Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Twitter', 'Amazon', 'Apple'}
it_companies after adding multiple companies: {'IBM', 'Netflix', 'Facebook', 'Microsoft', 'Oracle', 'Amazon', 'Apple', 'Spotify', 'Google', 'Adobe', 'Twitter'}
it_companies after removing 'Adobe': {'IBM', 'Netflix', 'Facebook', 'Microsoft', 'Oracle', 'Amazon', 'Apple', 'Spotify', 'Google', 'Twitter'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A joined with B: {19, 20, 22, 24, 25, 26, 27, 28}
B joined with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets A and B deleted.
Age list length: 8
Age set length: 5

In [5]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Find the number of unique words
num_unique_words = len(unique_words)

# Print the unique words and their count
print("Unique words:", unique_words)
print("Number of unique words:", num_unique_words)

Unique words: {'and', 'people', 'am', 'love', 'to', 'inspire', 'I', 'teach', 'a', 'teacher'}
Number of unique words: 10

In [6]:
# Print the header using tab escape sequences
print("Name\tAge\tCountry\tCity")

# Print the details using tab escape sequences
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [7]:
# Given radius
radius = 10

# Calculate the area of the circle
area = 3.14 * radius ** 2

# Use string formatting to display the message
message = "The area of a circle with radius {} is {:.2f} meters square.".format(radius, area)

# Print the message
print(message)

The area of a circle with radius 10 is 314.00 meters square.

In [8]:
def lbs_to_kg(weight_lbs):
    return round(weight_lbs * 0.453592, 2)

# Read the number of students
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in pounds
weights_lbs = []

# Read the weights in pounds from the user
for i in range(N):
    weight = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight)

# Convert the weights to kilograms and store them in a separate list
weights_kg = [lbs_to_kg(weight) for weight in weights_lbs]

# Print the original weights in pounds
print("Weights in pounds:", weights_lbs)

# Print the converted weights in kilograms
print("Weights in kilograms:", weights_kg)

Enter the number of students: 5
Enter the weight of student 1 in pounds: 65
Enter the weight of student 2 in pounds: 70
Enter the weight of student 3 in pounds: 80
Enter the weight of student 4 in pounds: 90
Enter the weight of student 5 in pounds: 100
Weights in pounds: [65.0, 70.0, 80.0, 90.0, 100.0]
Weights in kilograms: [29.48, 31.75, 36.29, 40.82, 45.36]